body {
	margin: 0;
}

main {
	width: 100vw;
	height: 100vh;
	position: relative;
}

.description {
	position: fixed;
  top: 10vh;
  left: 37vw;
	font-size: 32px;
}

#player {
	position: absolute;
	bottom: 50vh;
	left: 50vw;
	font-size: 32px;
}
